src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d98df357-af4b-42cc-bb52-53919bd63277" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="testFlow" doc:id="fe6041e0-dccf-42a1-90b7-8afec877fdbc" >
		<http:listener doc:name="Listener" doc:id="eacaebb1-9681-4e64-9bb1-284877795e87" path="/test" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="fd750409-70db-4515-ab6b-a07d0ea5597a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
emp:{
	(payload map(item,index) -> {
		emp:{
			EMPLID:item.EMPLID,
			NAME: item.FIRSTNAME ++ ' ' ++ item.LASTNAME,
			EMAIL:item.EMAIL,
			PHONE:item.PHONE
		}
	})
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="81c3bd76-fbf3-4346-b8f8-8f9d83cfd270" message="#[payload]"/>
	</flow>
</mule>
